
body {
  color: antiquewhite;
  box-sizing: border-box;
  background-color: #8d8d8d;
  margin: 0;
  border: 0;
  font-family: 'Lato' 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
